[submodule "Falcor"]
	path = Falcor
	url = https://github.com/tfoleyNV/Falcor.git
	branch = spire-redux
[submodule "FalcorOriginal"]
	path = FalcorOriginal
	url = https://github.com/tfoleyNV/Falcor.git
	branch = original
